body{
    background-color: rgb(241, 239, 239);
    font-family: "Noto Sans Thai", sans-serif;
    
}
.about-con h1{
    margin: 3rem;
    
}


.about1-con{
    display:flex ;
    
    justify-content: center;
    text-align: center;
    margin: 1rem;
    font-size: 20px
}
.about1-con img{
    margin: 1rem;
    max-width: 30vw;
    max-height: 25vw;
    box-shadow: 10px 10px 5px #888888;

}
.about1-con p{
    margin: 8rem;
    font-size: 1vw;
}





.about2-con img{
    margin: 1rem;
    max-width: 25vw;
    max-height: 30vw;
    box-shadow: 10px 10px 5px #888888;


}


.about2-con{
    display:flex ;
    column-gap: 0rem;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    font-size: 20px
}
.about2-content p{
    margin: 8rem;
    font-size: 1vw;
}

